html
body
  height 100%

body
pre
  margin 0
  padding 0
  background-color lightgrey

article
  width 90%
  height 100%
  margin 0 auto
  padding 0 10px
  background-color white

h1
  margin 0
  padding 1.5em 0

nav
  a
    margin-right 5px
    padding-right 5px
    border-right 1px solid black
    text-decoration none

    &:last-child
      border-right none

    &:hover
      text-decoration underline

span.by
  &:before
    content "<"
  &:after
    content ">"

ul
  margin 0
  padding 0
  list-style none