extends layout

append scripts
  script(src="/javascript/client.js")

block content
  article
    section
      include ../README.md
    section
      nav
        for room in rooms
          a(href="##{room.name}") #{room.name}
    section.vertical
      ul#messages
        li#template
          span.at 20:23
          span.by Max
          span.msg Hallå Världen
      form#chat
        input(name="handle")
        input(name="chat")
